div#popular,div#latest {
  /* background-color: lightblue; */
  width: 100%;
  overflow-x: scroll;
  }

.dot {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    display: inline-block;
  }
  
.dot_overly{
position: absolute; 
margin-top: 160px;
margin-left: 3px;
background-color: rgba(0, 0, 0, 0.7);
border: 2px solid #3aee1a;
box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.7);
color : white; 
font-size: 15px;
padding-top: 15px;
text-align: center;
}

div#banner_home img{
opacity: 0.7;
}


@media (min-width: 992px){
   /* .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  } */

  .dropdown-menu .dropdown-menu{
    margin-top: 5%;
    margin-left:0; 
    margin-right: 0;
  }

  .dropdown-menu li{
    position: relative;
  }
  .nav-item .submenu{ 
    display: none;
    position: absolute;
    left:100%; 
    top:-7px;
  }
  .nav-item .submenu-left{ 
    right:100%; left:auto;
  } 

  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
}
